@model IEnumerable<PubLeagueTracker.Models.PlayerProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    <li>Show team names, not id</li>
    <li>Change description fields</li>
    <li>Change edit page</li>
    <li>Confirm validation on everything</li>
    <li>Clean up javascript</li>
    <li>Add players from Team page??</li>
    <li>Stretch -- Add multiple players at the same time?</li>
</ul>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerProfileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerProfileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
